$fondC: white;
$fondS: black;
$noirC: #111111;
$blancS:rgb(214, 212, 212);

$C1: #901C1C;
$C2: #D3573C;
$C3: #525252;
$C4: #FAFAFA;
$C5: #DB8876;

//Dimension Ecran
$phone: 450px;
$tablette:1024px;
$desktop: 2500px;