.photograph-header {
    background-color: #fafafa;
    height: 300px;
    margin: 0 100px;
}

.photograph-header {
    background-color: #fafafa;
    height: 300px;
    margin: 0 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.photograph-header .profil h1 {
    color: $C2;
    font-size: 64px;
}

.photograph-header .profil h2 {
    color: $C1;
    font-size: 24px;
}
.photograph-header .profil p {
    font-size: 18px;
    margin-top: 19px;
}
.photograph-header .blocimg {
    height: 200px;
    width: 200px;
    overflow: hidden;
    border-radius: 50%;
    @extend %center;
}

.blocimg .p243 {
    margin-top: 30px;
    height: 400px;
    width: 600px;
}

.blocimg .p930 {
    margin-top: 50px;
    height: 350px;
    width: 600px;
}

.blocimg .p82 {
    margin-left: 50px;
    height: 250px;
    width: 250px;
}

.blocimg .p527 {
    margin-top: 50px;
    height: 350px;
    width: 350px;
}

.blocimg .p925 {
    margin-top: 50px;
    height: 350px;
    width: 500px;
}

.blocimg .p195 {
    margin-top: 50px;
    height: 350px;
    width: 500px;
}

.contact_button,
.valid_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901c1c;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
        background: $C5;
        color: black;
    }
}

#contact_modal {
    display: none;
    top: 0;
    left: 0;
    position: fixed;
    @extend %fullwindow;
    background: #fafafa60;
    z-index: 200;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 5px;
    background-color: #db8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px 35px 35px 35px;
    transform: translate(-50%, -50%);
}

.modal header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 20px;
}

.modal header .bloc_header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    //text-align: center;
    line-height: 1;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312e2e;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 5px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

#text {
    height: 170px;
}

.input-valid {
    border: 4px solid #279e7a;
}
.input-error {
    border: 4px solid #fe142f;
}

small {
    font-size: 20px;
    color: $C4;
}

section .filter {
    position: relative;
    margin-left: 97px;
    margin-top: 9px;
    display: flex;
    align-items: center;
    height: 60px;
}

section .filter p {
    font-size: 18px;
    font-weight: 700;
}

section .filter .wrapper {
    position: absolute;
    top: 0;
    left: 99px;
    height: 60px;
    width: 170px;
    display: flex;
    flex-direction: column;
    background: $C1;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.5s;
    border: none;
    z-index: 10;
}

section .filter .select {
    position: relative;
    overflow: hidden;
}

section .filter .wrapper:hover,
section .filter .wrapper.active {
    height: 183px;

    .arrow {
        transform: rotate(45deg);
        transform-origin: left;
    }
}

section .filter a {
    color: white;
    font-size: 18px;
    font-weight: 700;
    height: 61px;
    width: 150px;
    margin-left: 10px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
        letter-spacing: 1.5px;
    }
}

section .filter a:nth-child(2),
section .filter a:nth-child(3) {
    border-bottom: 1px solid white;
}

section .filter .arrow {
    position: absolute;
    top: 22px;
    right: 18px;
    height: 10px;
    width: 10px;
    border-left: 2px solid white;
    border-top: 2px solid white;
    transform: rotate(225deg);
    transition: 0.5s;
}

.picture_section {
    margin: 58px 100px 0 100px;
    display: flex;
    flex-wrap: wrap;
    //display: grid;
    //grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 30px;
    grid-column-gap: 95px;
}

.picture_section article figure {
    height: 300px;
    width: 350px;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.5s;
}

.picture_section article figure:hover {
    transform: scale(1.1);
}

.picture_section article img {
    margin-top: -95px;
    height: 480px;
    width: 350px;
}

.picture_section article video {
    height: 300px;
    width: 520px;
}

.picture_section article .figcaption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    height: 41px;
    width: 350px;
    color: $C1;
    font-size: 24px;
}

.picture_section article .figcaption .title {
    max-width: 250px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.picture_section article .figcaption .like {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.picture_section article .figcaption .like .heart {
    margin-right: 8px;
}

.picture_section article .figcaption .like a {
    color: $C1;
}

.otherInfo {
    position: fixed;
    bottom: 0;
    right: 36px;
    width: 375px;
    height: 73px;
    background: $C5;
    border-radius: 5px 5px 0 0;
    padding: 21px 34px 21px 34px;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 500;
    z-index: 2;
}

.otherInfo .totalLike i {
    margin-left: 6px;
}

aside {
    position: fixed;
    top: 0;
    left: 0;
    @extend %fullwindow;
    @extend %center;
    background: $C4;
    z-index: 10;
    transition: 0.5s;
    transform: scale(0);
}

.boxWindow {
    position: relative;
    @extend %center;
}

.boxWindow .boxPictureTitle {
    height: 900px;
    width: 1000px;
}

.boxWindow .boxPictureTitle .boxPicture {
    height: 850px;
    width: 1000px;
}

.boxWindow .boxPictureTitle .boxPicture .boxImg {
    height: 850px;
    width: 1000px;
}

.boxWindow .boxPictureTitle .boxPicture .boxVideo {
    height: 850px;
    width: 1000px;
}

.boxWindow .boxPictureTitle h2 {
    font-size: 24px;
    margin-top: 10px;
    font-weight: 400;
    color: $C1;
}

.boxWindow .left {
    height: 40px;
    width: 40px;
    background: transparent;
    border-top: 10px solid $C1;
    border-left: 10px solid $C1;
    border-bottom: none;
    border-right: none;
    margin-right: 35px;
    transform: rotate(-45deg);
    cursor: pointer;
    transition: 0.5s;
    &:hover {
        transform: translateX(-10px) rotate(-45deg);
    }
}

.boxWindow .right {
    height: 40px;
    width: 40px;
    background: transparent;
    border-top: 10px solid $C1;
    border-left: 10px solid $C1;
    border-bottom: none;
    border-right: none;
    margin-left: 35px;
    transform: rotate(135deg);
    cursor: pointer;
    transition: 0.5s;
    &:hover {
        transform: translateX(10px) rotate(135deg);
    }
}

.boxWindow .close {
    position: absolute;
    top: 15px;
    right: -13px;
    height: 42px;
    width: 42px;
    @extend %center;
    font-size: 100px;
    color: $C1;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
        transform: scale(1.2);
    }
}
